.App {
  text-align: center;
}

/* ITERACION 1 */

.indiv-container {
  border: 2px solid black;
  width: 100%;
  display: flex;
  margin: .5rem;

}

.img-container {
  /* border: 2px solid yellow; */
  max-width: 128px;
  max-height: 128px;
  margin: .3rem;


}
.text-container {
  /* border: 2px solid blue; */
  width: 100%;
  text-align: left;
  max-height: 128px;
  display: flex;
  flex-direction: column;
  margin: .3rem
}

.text-container p {
  margin: 0;

}

/* ITERACION 2 y 3 */

.it2-container,
.it3-container {
  border: 2px solid black;
  width: 50%;
  margin: 1rem;
  padding: .5rem;
  font-size: 1.7rem;
  text-align: left;

  
}

/* ITERACION 4*/

.it4-container {
  border: 2px solid black;
  width: 50%;
  margin: 1rem;
  text-align: center;
  color: white
}

.it4-container p {
  font-size: 1.6rem;
  font-weight: 300;
}

/* ITERACION 5*/
